.accent-btn {
    padding: 0;
    border: none;
    min-width: 20px;
    min-height: 20px;
    border-radius: 50%;
    outline-offset: 2px;
    background-color: currentColor;
    transition: transform 150ms
}

.accent-btn:hover { transform: scale(1.1) }

.accent-btn:checked { outline: 2px solid currentColor }

.Blue   { color: #3584e4 }
.Teal   { color: #21a499 }
.Green  { color: #3a944a }
.Yellow { color: #e5a50a }
.Orange { color: #e66100 }
.Red    { color: #e01b24 }
.Pink   { color: #d56199 }
.Purple { color: #9141ac }
.Slate  { color: #6f8396 }